@font-face {
    font-family: lexend-el;
    src: url(../assets/fonts/Lexend-ExtraLight.ttf);
}

@font-face {
    font-family: ital;
    src: url(../assets/fonts/Italiana-Regular.ttf);
}

@font-face {
    font-family: lexend-giga-el;
    src: url(../assets/fonts/LexendGiga-ExtraLight.ttf);
}

@font-face {
    font-family: lexend-deca-el;
    src: url(../assets/fonts/LexendDeca-ExtraLight.ttf);
}

@font-face {
    font-family: lexend-deca-el;
    src: url(../assets/fonts/LexendDeca-ExtraLight.ttf);
}

@font-face {
    font-family: lexend-l;
    src: url(../assets/fonts/Lexend-Light.ttf);
}

@font-face {
    font-family: lexend-exa;
    src: url(../assets/fonts/LexendExa-Regular.ttf);
}

@font-face {
    font-family: lexend-giga-m;
    src: url(../assets/fonts/LexendGiga-Medium.ttf);
}

@font-face {
    font-family: lexend-deca;
    src: url(../assets/fonts/LexendDeca-Regular.ttf)
}


  