nav.header {
    background-image: linear-gradient(to right, $site-white, rgba($site-white, 1) 64%, rgba($bg-color, 1)); 
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 54px;
    gap: 48px;
    position: sticky;
    top: 0;
    z-index: 2;

    @media screen and (max-width: 1200px) {
        height: 70px;
        padding-left: 40px;
        gap: 40px;
    }

    @media screen and (max-width: 800px) {
        justify-content: center;
        padding-left: 0;
    }

    a {
        text-decoration: none;
        color: $site-black;
        font-family: lexend-el;
        font-size: 26px;
        z-index: 3;

        @media screen and (max-width: 1200px) {
            font-size: 22px;
        }
    }
}