.overlay-gradient {
    position: absolute;
    width: 100%;
    height: 476px;
    z-index: 3;
    pointer-events: none;

    @media screen and (max-width: 800px) {
        visibility: hidden;
    }
}

.orange {
    background-image: linear-gradient(24deg, rgba(0,0,0,0) 66%, $style-color-4);
}

.green {
    background-image: linear-gradient(24deg, rgba(0,0,0,0) 66%, $style-color-2);
}

#project-list {
    .project-list-button {
        display: flex;
        @include margin;
        margin-top: 50px;
        button {
            @include main-btn;
            width: 233px;
            height: 51px;
            font-size: 35px;
        }
    }

    .project-list-header {
        display: flex;
        align-items: center;
        justify-content: center;
        @include margin;
        margin-top: 38px;

        h1 {
            font-family: lexend-giga-m;
            font-size: 48px;
            color: $site-black;
            @media screen and (max-width: 1200px) {
                font-size: 36px;
                text-align: center;
            }
        }
    }

    .project-list-body {
        margin-top: 68px;
        display: flex;
        flex-direction: column;
        gap: 45px;

        .project-list-row {
            display: flex;
            justify-content: space-between;
            @include margin;

            @media screen and (max-width: 1200px) {
                flex-direction: column;
                align-items: center;
            }

            .project-list-image{
                width: 48%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 28px;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                }

                button {
                    @include main-btn;
                }

                .project-thumbs{
                    display: flex;
                    justify-content: center;
                    gap: 23px;
                    
                    img {
                        width: 150px;
                        cursor: pointer;

                        @media screen and (max-width: 800px) {
                            width: 20%;
                        }
                    }

                    .selected-thumb {
                        border: 5px solid $style-color-2;
                    }
                }
            }

            .project-list-text {
                width: 48%;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    margin-top: 50px;
                }

                h2 {
                    font-family: lexend-deca;
                    font-size: 30px;
                    color: $site-black;
                }

                h3 {
                    font-family: lexend-exa;
                    font-size: 18px;
                    color: $site-black;
                }

                p, li {
                    font-family: lexend-deca-el;
                    font-size: 18px;
                    color: $site-black;
                    margin-top: 9px;
                }

                li::marker {
                    font-size: 16px;
                }

                @media screen and (max-width: 1200px) {
                    h2, h3{
                        text-align: center;
                    }
                }
            }
        }

        .project-list-process {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 100px;

            .process-title {
                font-family: lexend-deca;
                font-size: 40px;
                width: 375px;
                height: 56px;
                text-align: center;
            }

            .process-orange {
                background-image: linear-gradient(to right, rgba($style-color-4,0), $style-color-4 50%, rgba($style-color-4,0));
            }

            .process-green {
                background-image: linear-gradient(to right, rgba($style-color-2,0), $style-color-2 50%, rgba($style-color-2,0));
            }

            .process-carousel {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-top: 10px;

                .process-carousel-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 80px;
                    position: relative;
                    width: 100%;

                    .chevron {
                        height: 80px;
                        z-index: 1;
                        cursor: pointer;
                    }

                    .process-carousel-content {
                        width: 800px;
                        height: 592px;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                    }

                    .process-carousel-bg {
                        position: absolute;
                        width: 100%;
                        height: 320px;
                        background-image: linear-gradient(to right, $process-color-1, rgba(0,0,0,0) 50%, $process-color-1);
                    }
                }

                .process-carousel-caption {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-family: lexend-giga-m;
                        font-size: 26px;
                        color: $site-black;
                        text-align: center;
                    }

                    p {
                        font-family: lexend-deca-el;
                        font-size: 24px;
                        color: $site-black;
                        text-align: center;
                        margin-top: 11px;
                        width: 60%;
                    }
                }
            }
        }
    }
}