#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include margin;

    h1 {
        font-family: lexend-giga-m;
        font-size: 48px;
        margin-top: 68px;
    }

    .projects-container {
        margin-top: 73px;
        display: flex;
        width: 100%;
        height: 493px;
        position: relative;

        .projects-img{
            width: 1000px;
            background-size: cover;
        }


        .proj-txt {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 666px;
            padding-right: 118px;
            padding-top: 82px;

            h2 {
                font-family: lexend-exa;
                font-size: 48px;
                color: $site-black;
                text-align: left;
                white-space: nowrap;
            }

            p {
                font-family: lexend-deca-el;
                font-size: 32px;
                color: $site-black;
            }

            button {
                @include main-btn;
                margin-top: 40px;
            }
        }

        img.glitter-1{
            position:absolute;
            top: -105px;
            left: -83px;
        }

        img.glitter-3{
            position:absolute;
            top:-100px;
            right:-60px;
        }
    }

    .project-game {
        background-color: $style-color-4;

        .projects-img{
            background-image: linear-gradient(to right, rgba(0,0,0,0), $style-color-4),
            url(../assets/images/project-game-img.png);
        }

        button {
            background-color: #FFD499;
        }
    }

    .project-interaction {
        background-color: $style-color-2;

        .projects-img{
            background-image: linear-gradient(to right, rgba(0,0,0,0), $style-color-2),
            url(../assets/images/project-interaction-img.png);
        }

        button {
            background-color: #C9FFCD;
        }
    }
}

