#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include margin;

    h1 {
        font-family: lexend-giga-m;
        font-size: 48px;
        margin-top: 68px;
    }

    .projects-container {
        margin-top: 47px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 260px;
        position: relative;

        .projects-img{
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media screen and (max-width: 800px) {
                width: 0;
            }
        }


        .proj-txt {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            width: 533px;
            padding-right: 50px;

            @media screen and (max-width: 800px) {
                align-items: center;
                padding-right: 0;
                width: 100%;
            }

            h2 {
                font-family: lexend-exa;
                font-size: 48px;
                color: $site-black;
                text-align: right;
                white-space: nowrap;

                @media screen and (max-width: 800px) {
                    font-size: 38px;
                }
            }

            p {
                font-family: lexend-deca-el;
                font-size: 26px;
                color: $site-black;
            }

            button {
                @include main-btn;
                margin-top: 20px;
            }
        }

        img.glitter-1{
            position:absolute;
            top: -105px;
            left: -83px;
            width: 256px;
        }

        img.glitter-3{
            position:absolute;
            top:-100px;
            right:-60px;
            width: 207px;
        }

        @media screen and (max-width: 800px) {
            img.glitter-1, img.glitter-3{
                visibility: hidden;
            }
        }
    }

    .project-graphic {
        background-color: $content-color;

        .projects-img{
            background-image: linear-gradient(to right, rgba(0,0,0,0), $content-color),
            url(../assets/images/project-graphics-img.png);
        }

        button {
            background-color: $site-white;
        }
    }

    .project-game {
        background-color: $content-color;

        .projects-img{
            background-image: linear-gradient(to right, rgba(0,0,0,0), $content-color),
            url(../assets/images/project-game-img.png);
        }

        button {
            background-color: $site-white;
        }
    }

    .project-interaction {
        background-color: $content-color;

        .projects-img{
            background-image: linear-gradient(to right, rgba(0,0,0,0), $content-color),
            url(../assets/images/project-interaction-img.png);
        }

        button {
            background-color: $site-white;
        }
    }
}

