//Colors
$bg-color: #E8E5DC;
$site-white: #fff;
$site-black: #000;
$content-color: #D4D4D4;
$style-color-1: #FFFF94;
$style-color-2: #94FF9B;
$style-color-3: #94FFF6;
$style-color-4: #FFAA34;
$process-color-1: #FF5493;
$process-color-2: #E770FF;
$process-color-3: #9B94FF;

//Sizes
$content-width: 1666px;

//Mixins
@mixin main-btn{
    width: 270px;
    height: 57px;
    filter: drop-shadow(4px 4px 5px rgba($site-black, .5));
    border:none;
    border-radius: 50px;
    font-family: lexend-deca-el;
    font-size: 32px;
    color: $site-black;
    background-color: $site-white;
    cursor: pointer;

    @media screen and (max-width: 800px) {
        width: 180px;
        height: 46px;
        font-size: 28px;
    }
}

@mixin margin{
    margin-left: 151px;
    margin-right: 151px;

    @media screen and (max-width: 1200px) {
        margin-left: 100px;
        margin-right: 100px;
    }

    @media screen and (max-width: 800px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}